*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #E5E5E5;
   
   
}
img{
    margin-bottom: 35px;
}
a{
    display: flex;
    justify-content: center;
    padding: 11px 31.5px;
    background-color: white;
    border-radius: 25px;
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif; 
    font-size: 15px;
    font-weight: 400px;
    line-height: 25px;
    margin-bottom:48px ;
    align-self: center;
    
}
.container p{
 
    font-family: 'Lexend Deca', sans-serif; 
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 83px;
    color: #FFFFFF; 
    
    
}

.container h1{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
    margin-bottom: 25px;
    color: #F2F2F2;
}

.container-box1 a{
  
color:#E28625 ;
}
.container-box2 a{
    color: #006971
    
}
.container-box3 a{
    color: #004140
    
}

.container{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    max-width: 920px;
    max-height: 500;
    background-color: #E28625;
    border-radius: 8px;

}
.container-box1{
    background-color: #E28625;
    border-radius: 8px;
    padding: 48px 47.5px;
    
}
.container-box2{
    background-color: #006971;
    border-radius: 8px;
    padding: 48px 47.5px;

}
.container-box3{
    background-color: #004140;
 border-top-right-radius: 8px;
 border-bottom-right-radius: 8px;
 padding: 48px 47.5px;

}